version: "3.9"
services:
  webhook:
    build:
      context: .
      dockerfile: Dockerfile
    image: auxite/oracle-webhook:latest
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
